MI_Training/Jyt/*
MI_Training/FS_test_20231009_171604585_data/*
MI_Training/Jyt_test_20231009_163308615_data/*
MI_Training/FS_test_20231128_213719377_data/*
MI_Training/Jyt_test_score/*
MI_training/FS_test/*